.boxes{
    display: grid;
    gap: 10px;
    grid-template-columns: 20% 20% 20% 20% 20% 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20% 20% 20% 20% 20% 20%;
}
.e1{
    background-color: cyan;
    grid-column:1/2;
    grid-row:1/5
}
.e2{
    background-color: yellow;
    grid-column:1/2;
    grid-row:5/9;
}
.e3{
    background-color: purple;
    grid-column: 2;
    grid-row:1/9;
}