input[type="text"]{
    font-size: large;
    border-radius: 25px;
}
input[type="email"]{
    font-size: small;
    border-radius: 5px;
}
img{
    width: 400px;
    height: 400px;
}
div{
    border-radius: 25% red;
    color: rgb(0, 4, 255);
}