#h{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: black;
}
#h:hover{
    background-color: blue;
    transition: 0.1s;
    rotate: 392809234290834023805428534820342085027510987409158934687351092deg;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#e{
    background-color: black;
    height: 150px;
    width: 150px;
}
#e:hover{
    transition: 2s;
    width: 300px;
    height: 300px;
    rotate: -180deg;
}