



/* დასრულებული არ არის */




body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    width: 500px;
    height: 500px;
}                                                         
#message_area{
    border: solid black 5px;
    height: 450px;
    width: 450px;
}
#buttons::placeholder{
    font-size: 20px;
}
#buttons button{
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 15px;
    background-color: rgb(199, 199, 199);
    padding-right: 10px;
    padding-left: 10px;
    color: rgb(122, 122, 122);
}