.hhh{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
    width: 200px;
}
.hhh:hover{
    width: 500px;
    background-color: white;
    color: black;
}
body{
    background-color: blue;
}
.hh{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    transition: 0.5s;
    width: 200px;
}
.hh:hover{
    width: 300px;
    background-color: rgb(0, 0, 0);
    
}