@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Vinyl&family=Sixtyfour&display=swap'); /*Press 2p*/
.hhh{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
    width: 200px;
}
.hhh:hover{
    width: 500px;
    background-color: white;
    color: black;
}
body{
    background-color: blue;
}
.hh{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    transition: 0.5s;
    width: 200px;
}
.hh:hover{
    width: 300px;
    background-color: rgb(0, 0, 0);
    
}
img{
    border-radius: 12px;
}
p{
    font-family: "Press Start 2P", serif;
}
#h{
    list-style-type: upper-roman;
    list-style-position: outside;
}
#wf{
    list-style-type: square;
    list-style-position: inside;
}

