/* შექმენით 3x3 კონტეინერი, სადაც გექნებათ სამი ფერადი ელემენტი (div), შემდეგ ეცადეთ რომ ეს ელემენტები grid-area-ს მეშვეობით კონტეინერში სასურველი ადგილას გადაიტანოთ, გამოიყენეთ z-index. */
#container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

#item1{
    background-color: red;
}
#item2{
    background-color: aqua;
    grid-area: 3/3;
}
#item3{
    background-color: violet;
    grid-area: 2/2;
}