#div1{
    height: 700px;
    width: 700px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#a{
    background-color: rgb(205, 50, 50);
    grid-column: 2/3;
    grid-row: 2/3;
}
#b{
    background-color: rgb(60, 50, 205);
    grid-column: 1/3;
    grid-row: 1/3;
}
#c{
    background-color: rgb(205, 195, 50);
    grid-column: 1/3;
    grid-row: 1/3;
}
#d{
    background-color: rgba(23, 77, 94, 0.411);
    grid-column: 1/3;
    grid-row: 1/3;
}
#e{
    background-color: yellowgreen;
    grid-column: 1/3;
    grid-row: 1/3;
}
#f{
    background-color: yellowgreen;
    grid-column: 1/3;
    grid-row: 1/3;
}