th {
    background: chocolate;
}
table{
    border: solid green; text-align: center;
}
.num{
    background: chocolate;
}
#heading1{
    color: red;
}
#heading2{
    color: rgb(255, 251, 0);
}
#heading3{
    color: rgb(68, 0, 255);
}